:root {
  --primary-color: rgb(135, 0, 177);
  --secondary-color: rgb(148, 148, 148);
  --text-color: rgb(212, 187, 74);
  --primary-font: 'Roboto Slab';  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: var(--primary-font);
}
  
/* HEADER style starts */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
  
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--text-color);
}

  
header a {
  text-decoration: none;
  color: var(--text-color);
}
  
header nav {
  margin: 7px 0;
}
  
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  
header nav ul li a {
  padding: 50px 15px 0 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  width: 100%;
  border: none;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 10px;
}
/* HEADER style ends */

  
/* FOOTER style starts */
footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* FOOTER style ends */

/* Section PROFILE style starts */
section {
  padding: 60px;
}
  
.profile {
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
.profile-pic {
  max-width: 240px;
  border-radius: 50%;
  border: 0.5em solid var(--primary-color);
  color: var(--primary-color)
}

.profile h2 {
  color: var(--primary-color);
}
      
.section-title {
  font-size: 48px;
  color: var(--primary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 20px auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--text-color);
}

.secondary-border {
  border-color: var(--secondary-color);
}

/* Section PROFILE style end */
  
/* Section ABOUT style Start */
.text {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
/* Section ABOUT style end */
  
/* Section PROJECTS Start */
.projects {
  background-color: var(--text-color);
  width: 100%;
}

.project {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.applications {
  margin: auto;
  flex-flow: column wrap;
}

.applications h3 {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

.applications img {
  border: 0.5em solid var(--primary-color);
  color: var(--primary-color);
}

/* Section PROJECTS End */
  
/* Section CONTACT Start */
.contact-info {
  justify-content: center;
  text-align: center;
}
        
.contact-info a {
  width: 100%;
  border: none;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 10px;
}

.contact-info a:hover {
  color: var(--text-color);
  background: var(--primary-color);
    
}
/* Section CONTACT end */
  
  
/* Flex-row style start */
.flex-row {
  display: flex;
}
/* Flex-row style end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
header {
  padding-bottom: 0;
  justify-content: center;
  position: relative;
}

header h1 {
  width: 100%;
  text-align: center;
}

header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

header nav ul li a {
  font-size: 20px;
}

footer h2, footer div {
  text-align: center;
  width: 100%;
}

.section-title {
  width: 80%;
}

.project {
  flex-direction: column;
}

.applications:nth-of-type(2) {
  order: -1;
}

}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
section {
  padding: 30px 15px;
}
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
.section-title {
  width: 95%;
}

.intro p {
  width: 100%;
}

.flex-row {
  flex: 0 100%;
}

.contact-info {
  text-align: center;
}

.contact-info > * {
  flex: 0 100%;
}
}